
.coach_row {
display: flex;
align-items: center;
justify-content: flex-start;
margin-top: 1em;
}


.box {
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
 width: 35px;
height: 60px;
color: white;

}

.rowx {
margin-right: 32px;
font-size: 0.71em;
background: rgb(14, 12, 12);
}

.seat.notbooked {
background: #13b335;
margin: 0 2px;
}

.seat.booked {
background: rgb(230, 4, 34);
margin: 0 2px;
}
